* {
    font-size: 18px;
    font-family: 'PoppinsRegular', cursive;
    font-family: "PoppinsRegular", sans-serif;
}

@font-face {
    font-family: "PoppinsRegular";
    src: url("/fonts/Poppins-Regular.ttf") format("truetype"),
        url("/fonts/Poppins-Italic.ttf") format("truetype"),
        url("/fonts/Poppins-Black.ttf") format("truetype"),
        url("/fonts/Poppins-BlackItalic.ttf") format("truetype"),
        url("/fonts/Poppins-ExtraBold.ttf") format("truetype"),
        url("/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype"),
        url("/fonts/Poppins-ExtraLight.ttf") format("truetype"),
        url("/fonts/Poppins-ExtraLightItalic.ttf") format("truetype"),
        url("/fonts/Poppins-Light.ttf") format("truetype"),
        url("/fonts/Poppins-LightItalic.ttf") format("truetype"),
        url("/fonts/Poppins-Medium.ttf") format("truetype"),
        url("/fonts/Poppins-MediumItalic.ttf") format("truetype"),
        url("/fonts/Poppins-SemiBold.ttf") format("truetype"),
        url("/fonts/Poppins-SemiBoldItalic.ttf") format("truetype"),
        url("/fonts/Poppins-Thin.ttf") format("truetype"),
        url("/fonts/Poppins-ThinItalic.ttf") format("truetype"),
        url("/fonts/Poppins-BoldItalic.ttf") format("truetype"),
        url("/fonts/Poppins-Bold.ttf") format("truetype");
}

p {
    margin: 0 !important;
}

/* Equivalent CSS for .container */
.container {
    /* padding-left: 20px;
    padding-right: 20px; */
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

    /* Responsive styles based on Tailwind CSS screens (breakpoints) */
    @media (min-width: 375px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media (min-width: 768px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: 1440px) {
        padding-left: 135px;
        padding-right: 135px;
    }

    @media (min-width: 1920px) {
        padding-left: 300px;
        padding-right: 300px;
    }
}

.btn {
    padding: 9px 0px;
    width: 100%;
    cursor: pointer;
}

.bg-gray-100 {
    background-color: #f7fafc;
}

.bg-gray-200 {
    background-color: #f3f4f6;
}

/* CSS for grid */
.grid {
    display: grid;
}

/* CSS for grid columns */
.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: end;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

/* CSS for col-span-2 */
.col-span-2 {
    grid-column: span 2;
}

/* CSS for flex flex-col */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

/* CSS for grid gap */
.gap-1 {
    gap: 0.25rem;
}

.gap-x-1 {
    gap: 0rem 0.25rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-5 {
    gap: 1.25rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.50rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-10 {
    margin-top: 2.5rem;
}

.my-0 {
    margin: 0 !important;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

/* CSS for text-[18px] */
.text-xs {
    font-size: 12px;
}

.text-sm {
    font-size: 14px;
}

.text-base {
    font-size: 16px;
}

.text-18px {
    font-size: 18px;
}

.text-20px {
    font-size: 20px;
}

.text-22px {
    font-size: 22px;
}

.text-24px {
    font-size: 24px;
}

.text-32px {
    font-size: 32px;
}

/* CSS for font-medium */
.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: bold;
}

/* CSS for border-b */
.border {
    border-width: 1px;
    border-style: solid;
}

.border-b {
    border-bottom: 1px solid gray;
}

.border-b-2 {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.border-red-500 {
    border-color: #EF4444;
}

.border-gray-900 {
    border-color: #111827;
}

/* CSS for cursor-pointer */
.cursor-pointer {
    cursor: pointer;
}

/* CSS for uppercase */
.uppercase {
    text-transform: uppercase;
}

.tracking-wide {
    letter-spacing: 0.05em;
}

.w-max {
    width: max-content;
}

/* CSS for px-24 */
.px-24 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* CSS for py-1 */
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* CSS for rounded-lg */
.rounded-lg {
    border-radius: 0.5rem;
}

.space-y-1>*+* {
    margin-top: 0.25rem;
}

/* CSS for text-center */
.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-right {
    text-align: right;
}

.break-word {
    word-wrap: break-word
}

.inline-block {
    display: inline-block;
}

.inoSaleContainer {
    font-size: 12px !important;
}