#printable {
    display: none;
}

@media print {

    #non-printable {
        display: none;
    }

    #printable {
        display: block;
    }

    /* Hide the external header and footer by setting display to none */
    header,
    footer {
        display: none;
    }

    @page {
        margin: 0;
        size: A4;
        margin: 12px;
    }
}