/* Table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #808080;
}

.table th {
    font-size: 14px;
    padding: 4px;
    padding-left: 8px;
    border: 1px solid #808080;
}

.table td {
    border: 1px solid #808080;
    padding: 8px;
    font-size: 12px;
}

.table th {
    background-color: #f2f2f2;
}

/* serial column */
.table th:nth-child(1),
.table td:nth-child(1) {
    width: 10px;
}

/* code colum */
.table th:nth-child(2),
.table td:nth-child(2) {
    max-width: 50px;
    word-wrap: break-word;
}

/* description colum */
.table th:nth-child(3),
.table td:nth-child(3) {
    max-width: 100px;
    word-wrap: break-word;
}

/* quantity colum */
.table th:nth-child(4),
.table td:nth-child(4) {
    width: 40px;
    word-wrap: break-word;
}

/* unit price column */
.table th:nth-child(5),
.table td:nth-child(5) {
    width: 90px;
    word-wrap: break-word;
}

/* discount column */
.table th:nth-child(6),
.table td:nth-child(6) {
    width: 40px;
    word-wrap: break-word;
}

/* unit price after discount column */
.table th:nth-child(7),
.table td:nth-child(7) {
    width: 110px;
    word-wrap: break-word;
}

/* total column */
.table th:nth-child(8),
.table td:nth-child(8) {
    width: 130px;
    word-wrap: break-word;
}